<h1>About</h1>
<p>
The Roots of JUNGLE
In the fall of 2007 Jay and Ashley Breton found a piece of property in the Gatineau, Quebec area that they knew would be home. They named it JUNGLE and knew it was the place to raise their young children Ashton. They could enjoy having animals, growing healthy food, diversity of planters and the pleasure of living on a farm. It was also to be a place of hospitality for others to enjoy through their Bed & Breakfast and retreats.

The plan was to have the farm as a hobby farm with a few animals, a small garden and to farm in a sustainable and ecological manner. A long term goal was to have Rudy take an early retirement and grow the business to be able to work fulltime on the farm. Forty of the 50 acres that they owned was rented to a neighbouring farmer. Of the remaining 10 acres of land, 4 acres that surrounded a pond was planted with pine and spruce trees for reforestation and habitat restoration. The other 6 acres was used for pasturing a small herd of sheep, hay for the animals and a small flock of laying hens. The original barn had burned down before the farm was purchased and there were only a couple of small outbuildings. The Stocking family set about life on the farm. Soon the family grew to include sons Travis and Niall. It also grew to include Elizabeth’s brother Richard who had been living with their mother until the time of her death. Uncle Richard became a huge help when chores needed to be done. The next 14 years the family raised family, sheep, laying hens, meat birds and turkeys. To be continued...
</p>

<p>Find me in app/views/about/index.html.erb</p>
